REQUIREMENTS FOR COMPSCI BS DEGREE *o*

CSCE/Engineering--------------------------------------------------------
x GNEG 1111(H)						Honors General Eng I
x GNEG 1121							General Eng II

x CSCE 2004							PF1
x CSCE 2014							PF2
x CSCE 2114							Digital Design
_ CSCE 2214							Computer Organization
_ CSCE 3193							Programming Paradigms
_ CSCE 3513							Software Engineering
_ CSCE 3613							Operating Systems
_ CSCE 4313							Algorithms
_ CSCE 4323							Formal Languages
_ CSCE 4523							Database Management
_ CSCE 4561							Capstone I
_ CSCE 4963							Capstone II

_ CSCE Elec (4000+)					-
_ CSCE Elec (4000+)					-
_ CSCE Elec (4000+)					-
_ CSCE/Prof Elec (4000+)			-

Math/Science------------------------------------------------------------
x MATH 2554							Calculus I
x MATH 2564							Calculus II
x MATH 2603							Discrete
x MATH 3083* or MATH 3093			Linear Algebra
x MATH 3103							Combinatorics
_ STAT 3013 or INEG 2313			-

x PHYS 2054							Physics I
x Freshman Sci Elec (PHYS 2074)		Physics II
_ Basic Sci Elec+Lab 				-				

x CHEM 1103							Chemistry for Engineers

Humanities/Social Sciences----------------------------------------------
x ENGL 1013 						Composition I
_ ENGL 1023							Composition II

x History/Govt Elec (HIST 2003)		History (to 1877)

x Social Sci Elec (PSYC 2003)		Psychology
x Social Sci Elec (ANTH 1023)		Cultural Anthropology
x Social Sci Elec (HIST 2013)		History (1877 - present)
x Fine Arts Elec (ARTS 1003)		Basic Course: Art Lecture

_ COMM 1313							Public Speaking
x PHIL 3103							Ethics and the Professions

Free Electives----------------------------------------------------------
x Free Elective	(MATH 2584C)		Differential Equations
_ Free Elective						-
_ Free Elective						-

